<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="subsence-recaptcha-response" value="03AOLTBLQ-ehT2q33gENO3ckDtDQtdPuevceGUNyQ-82yYlQ1QnutsZ529GHjRllrUYLP180ek5e-1iXw3Xs4VU8cEx2HAf4JmuxL7Kyuz6ZBl4Hqknr-nNsqXeZjN-B0ztqgtBwGfb1nq_0q0pyBc9Mxkc3cfR6hhZePacLjSfOvfoQqtHG9BBbszlFHGJh_6hB6xt7malvG-QCD5X7SwfQ-DSstNQADGMC-EYan9uX2VuG-NQHbLe_hW9TlwkMdeaqGKjjFgYQyVNY92CkM8hz_Py05zel6aoihAYJyAQCXc7ZT1T0y9B21GPbtZ-UYpOKjuR4msD7Vd"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>